.product-grid {
    margin-top: 20px;
    padding: 20px 200px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
}
.product-grid .card {
    padding: 15px;
    display: flex;
    /* align-items: ; */
    justify-content: end;
    flex-direction: column;
    gap: 10px;
}
.product-grid .card img {
    max-width: 250px;
}
